<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/showUser.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/login?<%= user ? 'isLogged' : '' %>">登入</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>您好，<%= user %></h1>
        <p>
            以下是您存入的个人物品：
        </p>
        <% if (stuffs.length > 0) { %>
            <ul>
                <% for (let i = 0; i < stuffs.length; i++) { %>
                    <li><%= stuffs[i] %></li>
                <% } %>
            </ul>
        <% } else { %>
            <p>暂无物品</p>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>
